@model IEnumerable<MvcLearning.Models.RestaurantModels>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{ 
    <h4>@item.Name</h4>
    <div>@item.City, @item.Country</div>
    <hr />
}
